<div class="row">
    <div class="col-xl-12 col-lg-12 order-lg-1 order-xl-1">
      <div class="kt-portlet kt-portlet--mobile">
                        <div class="kt-portlet__head kt-portlet__head--lg">
                            <div class="kt-portlet__head-label">
                                <span class="kt-portlet__head-icon">
                                    <i class="kt-font-brand flaticon2-line-chart"></i>
                                </span>
                                <h3 class="kt-portlet__head-title">
                                    اضافة زيارة
                                </h3>
                            </div>
                            <div class="kt-portlet__head-toolbar">
                                <div class="kt-portlet__head-wrapper">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="kt-portlet__body">

          <form class="kt-form" #depForm="ngForm" >
            <div class="kt-portlet__body">
              
                <div class="form-group">
                    <label>
                        النوع
                     
                    </label>

                    <select [(ngModel)]="model.visit_type_name" (ngModelChange)="visit_types_selection($event)">
                        <option *ngFor="let visit_types of visit_types" [value]="visit_types">
                            {{ visit_types.visit_type_name }}
                        </option>
                    </select>

                   </div>
                   
<div class="form-group">
                    <label *ngIf="is_visit_date === 1">{{visit_date}}</label>
                    <div *ngIf="is_visit_date === 1">
                       
                        <input type="date" class="form-control" required
                        [(ngModel)]="model.visit_date2" name="visit_date2"/>
             
                </div>
                </div>

                <div class="form-group">

                    <label>{{vpic_label}}</label>
                    <div *ngIf="is_vpic === 1">
                        <input class="form-control"  type="file" (change)="onFileChanged($event);">
                    </div>
                    </div>

                 
                <div class="form-group">
                    <label *ngIf="is_start_time === 1">{{start_time_label}}</label>

                    <div *ngIf="is_start_time === 1">
                      
                            <input class="form-control" [(ngModel)]="start_time" type="time">

                
                    </div>


                </div>

                <div class="form-group">

                    <label *ngIf="is_name === 1">{{name_label}}</label>
                    <div *ngIf="is_name === 1">
                       
                            <input class="form-control" [(ngModel)]="name">

                    </div>
</div>
              
<div class="form-group">

                    <label *ngIf="is_job === 1">{{job_label}}</label>
                    <div *ngIf="is_job === 1">
                       
                            <input class="form-control" [(ngModel)]="job">

                     
                    </div>
</div>

           


                </div>

                <div class="form-group">

                    <label *ngIf="is_dep === 1">{{dep_label}}</label>
                    <div *ngIf="is_dep === 1">
                        <select [(ngModel)]="model.dep_name" (change)="selected()">
                            <option *ngFor="let department of departments" [value]="department">
                                {{ department.dep_name }}
                            </option>
                        </select>

                    </div>
                    </div>



                    <div class="form-group">

                    <label *ngIf="is_phone === 1">{{phone_label}}</label>
                    <div *ngIf="is_phone === 1">
                    
                            <input class="form-control" [(ngModel)]="phone">

                    </div>

</div>


               


                <div class="form-group">

                    <label *ngIf="is_end_time === 1">{{end_time_label}}</label>
                    <div *ngIf="is_end_time === 1">
       
                            <input class="form-control" [(ngModel)]="end_time" type="time">

      
</div>
                </div>

                <div class="form-group">


                    <label *ngIf="is_topic === 1">{{topic_label}}</label>
                    <div *ngIf="is_topic === 1">
                     
                            <textarea class="form-control" [(ngModel)]="topic" type="text">
</textarea>
                   
                    </div>

</div>


<div class="form-group">

                    <label *ngIf="is_instructions === 1">{{instructions_label}}</label>
                    <div *ngIf="is_instructions === 1">
                       
                            <textarea class="form-control" [(ngModel)]="instructions" type="text">
</textarea>
                     
                    </div>



                </div>


                <div class="form-group">


                    <label *ngIf="is_notes === 1">{{notes_label}}</label>
                    <div *ngIf="is_notes === 1">
                
                            <textarea class="form-control" [(ngModel)]="notes" type="text">
</textarea>
                 
                    </div>

                </div>


                <div class="form-group">

                   
                        <ckeditor [editor]="Editor" *ngIf="is_vpic === 1" [data]="data" [(ngModel)]="vnote" (change)="onChange($event)" [ngModelOptions]="{standalone: true}"></ckeditor>
                    

                </div>


                <div class="form-group">
                    <div *ngIf="is_emp_from === 1">
                    <label>{{emp_from_label}}</label>
                    <select [(ngModel)]="model.emp_name">
                        <option *ngFor="let emps of emp_from" [value]="emps">
                            {{ emps.emp_name }}
                        </option>
                    </select>

                 </div>
                </div>

                <div class="form-group" *ngIf="is_takeem === 1">
                 
                        <label>التاريخ:</label>
         
                        <input type="number" class="form-control" required
                        [(ngModel)]="model.evaluation_date" name="evaluation_date" />

                    </div>

                    <div class="form-group">

                        <label>المعلم:</label>
               
                        <select [(ngModel)]="model.emp_name">
                            <option *ngFor="let emp of emp" [value]="emp">
                                {{ emp.emp_name  }}
                            </option>
                        </select>
                        
                        </div>
                  

                    <div class="form-group">

                    
                            <kt-Takeem_master-details-list></kt-Takeem_master-details-list>
                      


                    </div>

     
            <div class="kt-portlet__foot">
              <div class="kt-form__actions">
                <button type="submit" (click)="submitForm()"  class="btn btn-primary">Submit</button>
                <button type="reset" (click)="resetForm()"  class="btn btn-secondary">Cancel</button>
              </div>
            </div>
            </div>
          </form>
                            
                        </div>
                    </div>
      <!-- <router-outlet></router-outlet> -->
    </div>
    
</div>

  




