<div class="row">
    <div class="col-xl-12 col-lg-12 order-lg-1 order-xl-1">
      <div class="kt-portlet kt-portlet--mobile">
                        <div class="kt-portlet__head kt-portlet__head--lg">
                            <div class="kt-portlet__head-label">
                                <span class="kt-portlet__head-icon">
                                    <i class="kt-font-brand flaticon2-line-chart"></i>
                                </span>
                                <h3 class="kt-portlet__head-title">
                                    نشره داخلية\خارجية
                                </h3>
                            </div>
                            <div class="kt-portlet__head-toolbar">
                                <div class="kt-portlet__head-wrapper">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="kt-portlet__body">

          <form class="kt-form" #depForm="ngForm" >
            <div class="kt-portlet__body">
              
				<div  class="form-group">

					<label>
						المرسل:
					
					</label>
			
							<select class="form-control" required name="emp"
										formControlName="employeedepartmentsender"
										[(ngModel)]="employeedepartmentsender"
										id="empsdropdown"
										placeholder="أختر المرسل"
										[(value)]="employeeName">

								<option *ngFor="let emp of Employees1" [value]="emp">
									{{ emp.emp_name }}
								</option>
							</select>

							<mat-error *ngIf="
form1.controls.employeedepartmentsender.hasError('required') &&
(form1.controls.employeedepartmentsender.dirty || form1.controls.employeedepartmentsender.touched)
">
								من فضلك أختر المرسل
							</mat-error>

				
					</div>

				<div class="form-group">

					<label> الصفحات:</label>
			
							<input class="form-control" [(ngModel)]="nchra_pages_num" type="number" [ngModelOptions]="{standalone: true}" matInput placeholder="عدد صفحات النشرة">



				
					</div>

		

				<div class="form-group">
					<label>العنوان:</label>
				
							<input class="form-control" [(ngModel)]="nchra_topic" [ngModelOptions]="{standalone: true}" type="text" matInput placeholder="عنوان النشرة ">
</div>

<div class="form-group">
					<label>التاريخ:</label>
		
							<input class="form-control" [(ngModel)]="nchra_date" [ngModelOptions]="{standalone: true}" matInput [matDatepicker]="dp3" placeholder="التاريخ">
							<mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
							<mat-datepicker #dp3 disabled="false"></mat-datepicker>

			

				
				</div>

				<div class="form-group">
			

						<input class="form-control" type="radio" id="department"
							   name="employee" checked (change)="handleChange($event)" value="department">
						<label for="department" style="margin:5px;">
						الأقسام:
						
						</label>

					</div>

					<div class="form-group">


							<select class="form-control" [(ngModel)]="selecteddepartment"
										formControlName="selecteddepartment" required
										id="departmentsdropdown"
										[disabled]="disabled"
										placeholder="أختر الاقسام" multiple>

								<option *ngFor="let department of Departments" [value]="department">
									{{ department.dep_name }}
								</option>
							</select>


							<mat-error *ngIf="
form1.controls.selecteddepartment.hasError('required') &&
(form1.controls.selecteddepartment.dirty || form1.controls.selecteddepartment.touched)
">
								من فضلك أختر القسم
							</mat-error>

				
					</div>
				



					<div class="form-group">

						<input class="form-control" type="radio" id="employee" [checked]="!is_dep" (change)="handleChange($event)" name="employee" value="employee">
						<label for="employee" style="margin:5px;">الموظف:
						
						</label>

					</div>

					<div class="form-group">
						
							<select class="form-control" required name="emp"
										formControlName="employeedepartment"
										[disabled]="disabled_emp"
										[(ngModel)]="employeedepartment"
										id="empsdropdown"
										placeholder="أختر اسم الموظف"
										multiple>

								<option *ngFor="let emp of Employees" [value]="emp">
									{{ emp.emp_name }}
								</option>
							</select>

							<mat-error *ngIf="
form1.controls.employeedepartment.hasError('required') &&
(form1.controls.employeedepartment.dirty || form1.controls.employeedepartment.touched)
">
								من فضلك أختر اسم الموظف
							</mat-error>

				
				</div>


				<div class="form-group">
					<label>الملف:</label>
				


						<input class="form-control" type="file" (change)="handleFileSelect($event)" mat-raised-button color="primary">

			

				</div>

				<div class="form-group">
				
				
						<ckeditor [editor]="Editor" (ready)="onReady($event)" [data]="data" [(ngModel)]="nchra_text" [ngModelOptions]="{standalone: true}"></ckeditor>
				
				

				</div>


            <div class="kt-portlet__foot">
              <div class="kt-form__actions">
                <button type="submit" (click)="submitForm()"  class="btn btn-primary">Submit</button>
                <button type="reset" (click)="resetForm()"  class="btn btn-secondary">Cancel</button>
              </div>
            </div>
            </div>
          </form>
                            
                        </div>
                    </div>
      <!-- <router-outlet></router-outlet> -->
    </div>
    
</div>

  
  <!--Begin::Row-->
  <div class="row">
    <div class="col-xl-12 col-lg-12 order-lg-1 order-xl-1">
      <div class="kt-portlet kt-portlet--mobile">
                        <div class="kt-portlet__head kt-portlet__head--lg">
                            <div class="kt-portlet__head-label">
                                <span class="kt-portlet__head-icon">
                                    <i class="kt-font-brand flaticon2-line-chart"></i>
                                </span>
                                <h3 class="kt-portlet__head-title">
                                    Departments
                                </h3>
                            </div>
                            
                        </div>
                        <div class="kt-portlet__body">

                            <!--begin: Datatable -->
                            <table class="table table-striped- table-bordered table-hover table-checkable" >
                                <thead>
                                    <tr>
                                        <th>Department ID</th>
                                        <th>Department Name</th>
                                        <th>Department Desc</th>
                                        <th>Department Supervisor Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let dep of deps">
                                        <td>{{dep.dep_id}}</td>
                                        <td>{{dep.dep_name}}</td>
                                        <td>{{dep.dep_desc}}</td>
                                        <td>{{dep.dep_supervisor_name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--end: Datatable -->
                        </div>
                    </div>
      <!-- <router-outlet></router-outlet> -->
    </div>
    
  </div>

  <!--End::Row-->



