<div class="row">
    <div class="col-xl-12 col-lg-12 order-lg-1 order-xl-1">
      <div class="kt-portlet kt-portlet--mobile">
                        <div class="kt-portlet__head kt-portlet__head--lg">
                            <div class="kt-portlet__head-label">
                                <span class="kt-portlet__head-icon">
                                    <i class="kt-font-brand flaticon2-line-chart"></i>
                                </span>
                                <h3 class="kt-portlet__head-title">
                                    Change Branch
                                </h3>
                            </div>
                            <div class="kt-portlet__head-toolbar">
                                <div class="kt-portlet__head-wrapper">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="kt-portlet__body">

                            <form class="kt-form"  >
                                <div class="kt-portlet__body">

                                    <div class="form-group">
                                        <label> Level Name </label>
                                        <select [(ngModel)]="model.levelName">
                                            <option *ngFor="let level of levels" [value]="level">
                                                {{ level.level_nama }}
                                            </option>
                                        </select>
                                      </div>

                                    <div class="form-group">
                                        <label> Class Name</label>
                                        <select [(ngModel)]="model.className">
                                            <option *ngFor="let class of classes" [value]="class">
                                                {{ class.class_name }}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label> Student Name</label>
                                        <select [(ngModel)]="model.studentName">
                                            <option *ngFor="let student of students" [value]="student">
                                                {{ student.student_name }}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label> Branch </label>
                                        <select [(ngModel)]="model.branch">
                                            <option *ngFor="let branch of branches" [value]="branch">
                                                {{ branch.def_name }}
                                            </option>
                                        </select>
                                    </div>

                                   
                                <div class="kt-portlet__foot">
                                  <div class="kt-form__actions">
                                    <button type="submit" (click)="submitForm()"  class="btn btn-primary">Submit</button>
                                    <button type="reset" (click)="resetForm()"  class="btn btn-secondary">Cancel</button>
                                  </div>
                                </div>
                                </div>
                              </form>
                            
                        </div>
                    </div>
    </div>
</div>

