<div class="row">
    <div class="col-xl-12 col-lg-12 order-lg-1 order-xl-1">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                        <i class="kt-font-brand flaticon2-line-chart"></i>
                    </span>
                    <h3 class="kt-portlet__head-title">
                        Students' Distributions By Levels
                    </h3>
                </div>
                       
            </div>
            <div class="kt-portlet__body">
                <div class="kt-portlet__body">
                            
                    <div class="form-group">
                        <label> Classes Number  </label>
                        <input type="number" class="form-control" disabled  
                            [(ngModel)]="classesNumber" name="classesNumber" />
                    </div>

                    <div class="form-group">
                        <label> Students Number </label>
                        <input type="number" class="form-control"  disabled
                            [(ngModel)]="studentsNumber" name="studentsNumber" />
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
