<div class="row">
    <div class="col-xl-12 col-lg-12 order-lg-1 order-xl-1">
      <div class="kt-portlet kt-portlet--mobile">
                        <div class="kt-portlet__head kt-portlet__head--lg">
                            <div class="kt-portlet__head-label">
                                <span class="kt-portlet__head-icon">
                                    <i class="kt-font-brand flaticon2-line-chart"></i>
                                </span>
                                <h3 class="kt-portlet__head-title">
                                    الغيابات
                                </h3>
                            </div>
                            <div class="kt-portlet__head-toolbar">
                                <div class="kt-portlet__head-wrapper">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="kt-portlet__body">

          <form class="kt-form" #depForm="ngForm" >
            <div class="kt-portlet__body">
              
                <div class="form-group">
                            <label>التاريخ</label>
                            <input class="form-control" [(ngModel)]="absence_date" required (dateChange)="date_Change($event)" matInput [matDatepicker]="picker" placeholder="">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>

                </div>

                <div class="form-group">
                            <label>الصف</label>
                            <select class="form-control" [(ngModel)]="selectedlevel"
                                        required formControlName="selectedlevel"
                                        id="levelsdropdown"
                                        placeholder="">

                                <option *ngFor="let level of Levels" [value]="level">
                                    {{ level.lev_name }}
                                </option>
                            </select>

                            <mat-error *ngIf="
    form1.controls.selectedlevel.hasError('required') &&
    (form1.controls.selectedlevel.dirty || form1.controls.selectedlevel.touched)
  ">
                                من فضلك اختر اسم الصف
                            </mat-error>
                </div>

            <div class="kt-portlet__foot">
              <div class="kt-form__actions">
                <button type="submit" (click)="submitForm()"  class="btn btn-primary">Submit</button>
                <button type="reset" (click)="resetForm()"  class="btn btn-secondary">Cancel</button>
              </div>
            </div>
            </div>
          </form>
                            
                        </div>
                    </div>
      <!-- <router-outlet></router-outlet> -->
    </div>
    
</div>

  
  <!--Begin::Row-->
  <div class="row">
    <div class="col-xl-12 col-lg-12 order-lg-1 order-xl-1">
      <div class="kt-portlet kt-portlet--mobile">
                        <div class="kt-portlet__head kt-portlet__head--lg">
                            <div class="kt-portlet__head-label">
                                <span class="kt-portlet__head-icon">
                                    <i class="kt-font-brand flaticon2-line-chart"></i>
                                </span>
                                <h3 class="kt-portlet__head-title">
                                    Departments
                                </h3>
                            </div>
                            
                        </div>
                        <div class="kt-portlet__body">

                            <!--begin: Datatable -->
                            <table class="table table-striped- table-bordered table-hover table-checkable" >
                                <thead>
                                    <tr>
                                        <th>Department ID</th>
                                        <th>Department Name</th>
                                        <th>Department Desc</th>
                                        <th>Department Supervisor Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let dep of deps">
                                        <td>{{dep.dep_id}}</td>
                                        <td>{{dep.dep_name}}</td>
                                        <td>{{dep.dep_desc}}</td>
                                        <td>{{dep.dep_supervisor_name}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--end: Datatable -->
                        </div>
                    </div>
      <!-- <router-outlet></router-outlet> -->
    </div>
    
  </div>

  <!--End::Row-->

<!-- <kt-absence-list></kt-absence-list> -->